<config>

	<parameter name="ServerPort"    value="8081"/>
	<parameter name="WriterThreads" value="25"/>
	<parameter name="ExecThreads"   value="4"/>

    <shp_file name="water-polygons-split-4326/water_polygons" tag="shape" value="ocean"/>

	<index type="relation" name="oceanIdx">
		<restriction zLevels="0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19">
    		<condition tagKey="shape" closed="yes">
                <class value="ocean"        zIndex="1" style="fill:skyblue;fill-rule:evenodd;"/>
            </condition>
        </restriction>
    </index>


	<!--index type="relation" name="relBoundaryIdxLowRes">
        <selector tagKey="boundary" tagValue="administrative"/>
		<condition closed="yes" tagKey="admin_level">
			<restriction zLevels="0,1,2,3">
				<class value="2" zIndex="310" style="fill:none; stroke:salmon;stroke-width:1;" />
			</restriction>
			<restriction zLevels="0,1,2,3">
				<class value="3" zIndex="309" style="fill:none; stroke:salmon;stroke-width:1;" />
			</restriction>
			<restriction zLevels="4,5,6">
				<class value="4" zIndex="308" style="fill:none; stroke:salmon;round;stroke-width:1;"/>
			</restriction>
			<restriction zLevels="6,7,8">
				<class value="5" zIndex="307" style="fill:none; stroke:white;stroke-width:1;"/>
			</restriction>
			<restriction zLevels="7,8">
				<class value="6" zIndex="306" style="fill:none; stroke:salmon;stroke-width:1;"/>
			</restriction>
			<restriction zLevels="8">
				<class value="7" zIndex="305" style="fill:none; stroke:white;stroke-width:1;"/>
			</restriction>
        </condition>
    </index-->
	<!--index type="relation" name="relBoundaryIdxMedRes">
        <selector tagKey="boundary" tagValue="administrative"/>
		<condition closed="yes" tagKey="admin_level">
			<restriction zLevels="9,10">
				<class value="5" zIndex="306" style="fill:none; stroke:white;stroke-width:1;" />
			</restriction>
			<restriction zLevels="9,10">
				<class value="6" zIndex="306" style="fill:none; stroke:white;stroke-width:1;" />
			</restriction>
			<restriction zLevels="9,10,11">
				<class value="7" zIndex="305" style="fill:none; stroke:white;stroke-width:1;" />
			</restriction>
		</condition>
    </index>
	<index type="relation" name="relBoundaryIdxHighRes">
        <selector tagKey="boundary" tagValue="administrative"/>
		<condition closed="yes" tagKey="admin_level">
			<restriction zLevels="12,13,14,15">
				<class value="8" zIndex="304" style="fill:none; stroke:white;stroke-width:1;" />
			</restriction>
			<restriction zLevels="13,14,15,16">
				<class value="9" zIndex="303" style="fill:none; stroke:white;stroke-width:1;"/>
			</restriction>
		</condition>
	</index-->



	<index type="node" name="placesIdxLowRes">
		<restriction zLevels="5,6,7">
			<condition tagKey="place" closed="both">
				<class value="country"        zIndex="5001"    textStyle="fill:grey;font-family:sans-serif;opacity:0.5;font-size:20px"/>
				<class value="state"          zIndex="5000"    textStyle="fill:grey;font-family:sans-serif;opacity:0.5; font-size:14px"/>
			</condition>
		</restriction>
		<restriction zLevels="8">
			<condition tagKey="place" closed="both">
				<class value="country"          zIndex="5010"    textStyle="fill:grey;font-family:sans-serif;opacity:0.5; font-size:24px"/>
				<class value="state"            zIndex="5009"    textStyle="fill:grey;font-family:sans-serif;opacity:0.5; font-size:18px"/>
				<class value="province"         zIndex="5008"    textStyle="fill:grey;font-family:sans-serif;opacity:0.5; font-size:16px"/>
				<class value="district"         zIndex="5007"    textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:14px"/>
				<class value="county"           zIndex="5006"    textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:12px"/>
			</condition>
		</restriction>
	</index>

	<index type="node" name="placesIdxMedRes">
		<restriction zLevels="8,9">
			<condition tagKey="place" closed="both">
				<class value="city"             zIndex="5010" textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:16px"/>
				<class value="town"             zIndex="5009" textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:14px"/>
			</condition>
		</restriction>
		<restriction zLevels="10,11,12,13">
			<condition tagKey="place" closed="both">
				<class value="city"             zIndex="5008" textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:16px"/>
				<class value="town"             zIndex="5007" textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:14px"/>
				<class value="village"          zIndex="5006" textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:12px"/>
			</condition>
		</restriction>
	</index>






	<index type="way" name="placesIdxLowResWay">
		<restriction zLevels="5,6,7">
			<condition tagKey="place" closed="yes">
				<class value="country"        zIndex="5001"  style="fill:none"   textStyle="fill:grey;font-family:sans-serif;opacity:0.5;font-size:20px"/>
				<class value="state"          zIndex="5000"  style="fill:none"  textStyle="fill:grey;font-family:sans-serif;opacity:0.5; font-size:14px"/>
			</condition>
		</restriction>
		<restriction zLevels="8">
			<condition tagKey="place" closed="yes">
				<class value="country"          zIndex="5010"    style="fill:none" textStyle="fill:grey;font-family:sans-serif;opacity:0.5; font-size:24px"/>
				<class value="state"            zIndex="5009"    style="fill:none" textStyle="fill:grey;font-family:sans-serif;opacity:0.5; font-size:18px"/>
				<class value="province"         zIndex="5008"    style="fill:none" textStyle="fill:grey;font-family:sans-serif;opacity:0.5; font-size:16px"/>
				<class value="district"         zIndex="5007"    style="fill:none" textStyle="fill:grey;font-family:sans-serif;opacity:0.5; font-size:14px"/>
				<class value="county"           zIndex="5006"    style="fill:none" textStyle="fill:grey;font-family:sans-serif;opacity:0.5; font-size:12px"/>
			</condition>
		</restriction>
	</index>

	<index type="way" name="placesIdxMedResWay">
		<restriction zLevels="8,9">
			<condition tagKey="place" closed="yes">
				<class value="city"             zIndex="5010" style="fill:none" textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:16px"/>
				<class value="town"             zIndex="5009" style="fill:none" textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:14px"/>
			</condition>
		</restriction>
		<restriction zLevels="10,11,12,13,">
			<condition tagKey="place" closed="yes">
				<class value="city"             zIndex="5008" style="fill:none" textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:16px"/>
				<class value="town"             zIndex="5007" style="fill:none" textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:14px"/>
				<class value="village"          zIndex="5006" style="fill:none" textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:12px"/>
			</condition>
		</restriction>
	</index>



	<index type="relation" name="placesIdxLowResRelation">
		<restriction zLevels="5,6,7">
			<condition tagKey="place" closed="yes">
				<class value="country"        zIndex="5001"     style="fill:none" textStyle="fill:grey;font-family:sans-serif;opacity:0.5;font-size:20px"/>
				<class value="state"          zIndex="5000"     style="fill:none" textStyle="fill:grey;font-family:sans-serif;opacity:0.5; font-size:14px"/>
			</condition>
		</restriction>
		<restriction zLevels="8">
			<condition tagKey="place" closed="yes">
				<class value="country"          zIndex="5010"    style="fill:none" textStyle="fill:grey;font-family:sans-serif;opacity:0.5; font-size:24px"/>
				<class value="state"            zIndex="5009"    style="fill:none" textStyle="fill:grey;font-family:sans-serif;opacity:0.5; font-size:18px"/>
				<class value="province"         zIndex="5008"    style="fill:none" textStyle="fill:grey;font-family:sans-serif;opacity:0.5; font-size:16px"/>
				<class value="district"         zIndex="5007"    style="fill:none" textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:14px">
				<class value="county"           zIndex="5006"    style="fill:none" textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:12px">
			</condition>
		</restriction>
	</index>

	<index type="relation" name="placesIdxMedResRelation">
		<restriction zLevels="8,9">
			<condition tagKey="place" closed="yes">
				<class value="city"             zIndex="5010" style="fill:none" textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:16px"/>
				<class value="town"             zIndex="5009" style="fill:none" textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:14px"/>
			</condition>
		</restriction>
		<restriction zLevels="10,11,12,13">
			<condition tagKey="place" closed="yes">
				<class value="city"             zIndex="5008" style="fill:none" textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:16px"/>
				<class value="town"             zIndex="5007" style="fill:none" textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:14px"/>
				<class value="village"          zIndex="5006" style="fill:none" textStyle="fill:black;font-family:sans-serif;opacity:0.5; font-size:12px"/>
			</condition>
		</restriction>
	</index>


	<index type="node" name="placesIdxHighRes">
		<restriction zLevels="14,15,16,17,18">
		<condition tagKey="place" closed="both">
				<class value="city"             zIndex="5008" textStyle="fill:black;font-family:sans-serif;opacity:0.3; font-size:22px"/>
				<class value="borough"             zIndex="5008" textStyle="fill:black;font-family:sans-serif;opacity:0.3; font-size:22px"/>
				<class value="town"             zIndex="5007" textStyle="fill:black;font-family:sans-serif;opacity:0.3; font-size:20px"/>
				<class value="suburb"             zIndex="5007" textStyle="fill:black;font-family:sans-serif;opacity:0.3; font-size:20px"/>
				<class value="village"          zIndex="5006" textStyle="fill:black;font-family:sans-serif;opacity:0.3; font-size:18px"/>
				<class value="quarter"          zIndex="5006" textStyle="fill:black;font-family:sans-serif;opacity:0.3; font-size:18px"/>
				<class value="hamlet"           zIndex="5005" textStyle="fill:black;font-family:sans-serif;opacity:0.3; font-size:16px"/>
				<class value="locality"           zIndex="5005" textStyle="fill:black;font-family:sans-serif;opacity:0.3; font-size:16px"/>
				<class value="isolated_dwelling" zIndex="5005" textStyle="fill:black;font-family:sans-serif;opacity:0.3; font-size:16px"/>
				<class value="farm"              zIndex="5005" textStyle="fill:black;font-family:sans-serif;opacity:0.3; font-size:16px"/>
		</condition>
		</restriction>
		<condition tagKey="addr:housenumber" closed="both">
			<restriction zLevels="18,19">
				<class value="default" textField="addr:housenumber" textStyle="fill:maroon;font-family:sans-serif; font-size:14" zIndex="900" style="fill:linen;fill-rule:evenodd;"/>
			</restriction>
		</condition>
	</index> 

	<index type="relation" name="relationLandUseIdxHighRes">
		<restriction zLevels="13,14,15,16,17,18,19">
			<condition tagKey="landuse" closed="yes">
				<class value="residential"               zIndex="99" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="allotments"                zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="basin"                     zIndex="100" style="fill:skyblue;fill-rule:evenodd;"/>
				<class value="brownfield"                zIndex="100" style="fill:linen;fill-rule:evenodd;"/>
				<class value="cemetery"                  zIndex="100" style="fill:lightgreen;fill-rule:evenodd;"/>
				<class value="commercial"                zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="conservation"              zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="construction"              zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="depot"                     zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="farmland"                  zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="farmyard"                  zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="forest"                    zIndex="100" style="fill:palegreen;fill-rule:evenodd;"/>
				<class value="garages"                   zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="grass"                     zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="greenfield"                zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="greenhouse_horticulture"   zIndex="100" style="fill:lightgreen;fill-rule:evenodd;"/>
				<class value="industrial"                zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="landfill"                  zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="meadow"                    zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="military"                  zIndex="100" style="fill:antiquewhite;fill-rule:evenodd;"/>
				<class value="orchard"                   zIndex="100" style="fill:palegreen;fill-rule:evenodd;"/>
				<class value="pasture"                   zIndex="100" style="fill:lightgreen;fill-rule:evenodd;"/>
				<class value="peat_cutting"		         zIndex="100" style="fill:tan;fill-rule:evenodd;"/>	
				<class value="plant_nursery"             zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>	
				<class value="port"                      zIndex="100" style="fill:paleturquoise;fill-rule:evenodd;"/>
				<class value="quary"       		         zIndex="100" style="fill:linen;fill-rule:evenodd;"/>	
				<class value="railway"                   zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="recreation_ground"         zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="religious"                 zIndex="100" style="fill:aliceblue;fill-rule:evenodd;"/>
				<class value="reservoir"                 zIndex="101" style="fill:skyblue;fill-rule:evenodd;"/>
				<class value="retail"                    zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="salt_pond"                 zIndex="101" style="fill:skyblue;fill-rule:evenodd;"/>
				<class value="village_green"             zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="vineyard"                  zIndex="100" style="fill:palegreen;fill-rule:evenodd;"/>	
				<class value="quarry"	                 zIndex="100" style="fill:linen;fill-rule:evenodd;"/>	
				<class value="marina"	                 zIndex="100" style="fill:;fill-rule:evenodd;"/>
			</condition>
			<condition tagKey="natural" closed="yes">
				<class value="reef"                  	zIndex="100" style="fill:powderblue;fill-rule:evenodd;"/>	
				<class value="wood"                  	zIndex="100" style="fill:palegreen;fill-rule:evenodd;"/>	
				<class value="scrub"                  	zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>	
				<class value="wetland"                 	zIndex="101" style="fill:powderblue;fill-rule:evenodd;"/>	
				<class value="grassland"               	zIndex="100" style="fill:powderblue;fill-rule:evenodd;"/>	
				<class value="grass"               	    zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>	
				<class value="tree_row"                	zIndex="101" style="fill:palegreen;fill-rule:evenodd;"/>	
				<class value="rock"		                zIndex="101" style="fill:whitesmoke;fill-rule:evenodd;"/>	
				<class value="bare_rock"		        zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>	
				<class value="quarry"		            zIndex="100" style="fill:tan;fill-rule:evenodd;"/>	
				<class value="dune"		                zIndex="100" style="fill:moccasin;fill-rule:evenodd;"/>	
				<class value="heath"                  	zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>	
				<class value="sand"                  	zIndex="100" style="fill:moccasin;fill-rule:evenodd;"/>	
				<class value="beach"                  	zIndex="100" style="fill:moccasin;fill-rule:evenodd;"/>	
				<class value="tree"                  	zIndex="100" style="fill:palegreen;fill-rule:evenodd;"/>	
				<class value="scree"                  	zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>	
				<class value="land"                  	zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>	
				<class value="bay"                  	zIndex="98"  style="fill:skyblue;fill-rule:evenodd;"/>	
				<class value="glacier"                  zIndex="100" style="fill:lightcyan;fill-rule:evenodd;"/>	
				<class value="fell"                  	zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>	
				<class value="stone"                  	zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="water"                  	zIndex="101" style="fill:skyblue;fill-rule:evenodd;"/>	
			</condition>
			<condition tagKey="waterway" closed="yes">
				<class value="default"                  zIndex="101" style="fill:skyblue;fill-rule:evenodd;"/>
			</condition>
			<condition tagKey="waterway" closed="no">
				<class value="default"                  zIndex="101" style="fill:none; stroke:skyblue; stroke-width:1;"/>
			</condition>
			<condition tagKey="type" closed="yes">
				<class value="waterway"                  zIndex="101" style="fill:skyblue;fill-rule:evenodd;"/>
			</condition>
			<condition tagKey="route" closed="both">
				<!--class value="bus"       textWidth="4" textStyle="fill:red;font-family:sans-serif"      zIndex="2100" style="fill:none; stroke:green;stroke-linecap:round;stroke-width:0.5;opacity:0.5"/-->
				<class value="ferry"       textWidth="4" textStyle="fill:darkblue;font-family:sans-serif"      zIndex="2100" style="fill:none; stroke:blue;stroke-linecap:round;stroke-width:0.5;opacity:0.5"/>
			</condition>
		</restriction>
	</index>

	<index type="relation" name="relationLandUseIdxMedRes">
		<restriction zLevels="11,12,13">
			<condition tagKey="waterway" closed="no">
				<class value="default"                  zIndex="101" style="fill:none; stroke:skyblue; stroke-width:1;"/>
			</condition>
		</restriction>
	</index>



	<index type="way" name="wayLandUseIdxLowRes">
		<restriction zLevels="13,14,15,16,17,18,19">
			<condition tagKey="landuse" closed="yes">
				<class value="residential"               zIndex="99" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="allotments"                zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="basin"                     zIndex="100" style="fill:skyblue;fill-rule:evenodd;"/>
				<class value="brownfield"                zIndex="100" style="fill:linen;fill-rule:evenodd;"/>
				<class value="cemetery"                  zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="commercial"                zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="conservation"              zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="construction"              zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="depot"                     zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="farmland"                  zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="farmyard"                  zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="forest"                    zIndex="100" style="fill:palegreen;fill-rule:evenodd;"/>
				<class value="garages"                   zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="grass"                     zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="greenfield"                zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="greenhouse_horticulture"   zIndex="100" style="fill:lightgreen;fill-rule:evenodd;"/>
				<class value="industrial"                zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="landfill"                  zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="meadow"                    zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="military"                  zIndex="100" style="fill:antiquewhite;fill-rule:evenodd;"/>
				<class value="orchard"                   zIndex="100" style="fill:palegreen;fill-rule:evenodd;"/>
				<class value="pasture"                   zIndex="100" style="fill:lightgreen;fill-rule:evenodd;"/>
				<class value="peat_cutting"		         zIndex="100" style="fill:tan;fill-rule:evenodd;"/>	
				<class value="plant_nursery"             zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>	
				<class value="port"                      zIndex="100" style="fill:paleturquoise;fill-rule:evenodd;"/>
				<class value="quary"       		         zIndex="100" style="fill:linen;fill-rule:evenodd;"/>	
				<class value="railway"                   zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="recreation_ground"         zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="religious"                 zIndex="100" style="fill:aliceblue;fill-rule:evenodd;"/>
				<class value="reservoir"                 zIndex="101" style="fill:skyblue;fill-rule:evenodd;"/>
				<class value="retail"                    zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="salt_pond"                 zIndex="101" style="fill:skyblue;fill-rule:evenodd;"/>
				<class value="village_green"             zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>
				<class value="vineyard"                  zIndex="100" style="fill:palegreen;fill-rule:evenodd;"/>	
				<class value="quarry"	                 zIndex="100" style="fill:linen;fill-rule:evenodd;"/>	
				<class value="marina"	                 zIndex="100" style="fill:;fill-rule:evenodd;"/>
			</condition>
			<condition tagKey="natural" closed="yes">
				<class value="reef"                  	zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>	
				<class value="wood"                  	zIndex="100" style="fill:palegreen;fill-rule:evenodd;"/>	
				<class value="scrub"                  	zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>	
				<class value="wetland"                 	zIndex="101" style="fill:powderblue;fill-rule:evenodd;"/>	
				<class value="grassland"               	zIndex="100" style="fill:powderblue;fill-rule:evenodd;"/>	
				<class value="grass"               	    zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>	
				<class value="tree_row"                	zIndex="101" style="fill:palegreen;fill-rule:evenodd;"/>	
				<class value="rock"		                zIndex="101" style="fill:whitesmoke;fill-rule:evenodd;"/>	
				<class value="bare_rock"		        zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>	
				<class value="quarry"		            zIndex="100" style="fill:tan;fill-rule:evenodd;"/>	
				<class value="dune"		                zIndex="100" style="fill:moccasin;fill-rule:evenodd;"/>	
				<class value="heath"                  	zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>	
				<class value="sand"                  	zIndex="100" style="fill:moccasin;fill-rule:evenodd;"/>	
				<class value="beach"                  	zIndex="100" style="fill:moccasin;fill-rule:evenodd;"/>	
				<class value="tree"                  	zIndex="100" style="fill:palegreen;fill-rule:evenodd;"/>	
				<class value="scree"                  	zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>	
				<class value="land"                  	zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>	
				<class value="bay"                  	zIndex="98"  style="fill:skyblue;fill-rule:evenodd;"/>	
				<class value="glacier"                  zIndex="100" style="fill:lightcyan;fill-rule:evenodd;"/>	
				<class value="fell"                  	zIndex="100" style="fill:honeydew;fill-rule:evenodd;"/>	
				<class value="stone"                  	zIndex="100" style="fill:whitesmoke;fill-rule:evenodd;"/>
				<class value="water"                  	zIndex="101" style="fill:skyblue;fill-rule:evenodd;"/>	
			</condition>
			<condition tagKey="waterway" closed="no">
				<class value="default"                  zIndex="101" style="fill:none; stroke:skyblue; stroke-width:1;" textStyle="text-anchor:middle;fill:white" textWidth="20"/>
			</condition>
			<condition tagKey="waterway" closed="yes">
					<class value="default"                  zIndex="101" style="fill:skyblue;fill-rule:evenodd;"/>
			</condition>
			<condition tagKey="route" closed="both">
				<class value="bus"       textWidth="4" textStyle="fill:red;font-family:sans-serif"      zIndex="2100" style="fill:none; stroke:red;stroke-linecap:round;stroke-width:0.5;opacity:0.5"/>
				<class value="ferry"       textWidth="4" textStyle="fill:darkblue;font-family:sans-serif"      zIndex="2100" style="fill:none; stroke:blue;stroke-linecap:round;stroke-width:0.5;opacity:0.5"/>
			</condition>
		</restriction>
	</index>

	<index type="way" name="wayLandUseIdxMedRes">
		<restriction zLevels="11,12,13">
			<condition tagKey="waterway" closed="no">
				<class value="default"                  zIndex="101" style="fill:none; stroke:skyblue; stroke-width:1;" textStyle="text-anchor:middle;fill:white" textWidth="20"/>
			</condition>
		</restriction>
	</index>


	<index type="relation" name="relationLBuildingIdx">
		<restriction zLevels="16,17">
			<condition tagKey="building" closed="yes">
				<class value="default" zIndex="2900" style="fill:linen;fill-rule:evenodd;stroke:BurlyWood ;stroke-width:1"/>
			</condition>
			<condition tagKey="type"    closed="yes">
				<class value="building" textField="addr:housenumber" textWidth="4" textStyle="fill:#3399cc;font-family:sans-serif" zIndex="2900" style="fill:linen;fill-rule:evenodd;stroke:BurlyWood ;stroke-width:1"/>
			</condition>
		</restriction>
		<restriction zLevels="18,19">
			<condition tagKey="building" closed="yes">
				<class value="default" textField="addr:housenumber" textWidth="4" textStyle="fill:green;font-family:sans-serif" zIndex="2900" style="fill:linen;fill-rule:evenodd;stroke:BurlyWood ;stroke-width:1"/>
			</condition>
			<condition tagKey="type"    closed="yes">
				<class value="building" textField="addr:housenumber" textWidth="4" textStyle="fill:#3399cc;font-family:sans-serif" zIndex="2900" style="fill:linen;fill-rule:evenodd;stroke:BurlyWood ;stroke-width:1"/>
			</condition>
		</restriction>
	</index>
	<index type="way" name="wayBuildingIdx">
		<restriction zLevels="16,17">
			<condition tagKey="building" closed="yes">
					<class value="default"       zIndex="2900" style="fill:linen;fill-rule:evenodd;stroke:BurlyWood ;stroke-width:1"/>
			</condition>
			<condition tagKey="type" closed="yes">
				<class value="building"     textField="addr:housenumber"     textWidth="4" textStyle="fill:orange;font-family:sans-serif"     zIndex="2900" style="fill:linen;fill-rule:evenodd;stroke:BurlyWood ;stroke-width:1"/>
			</condition>
		</restriction>
		<restriction zLevels="18,19">
			<condition tagKey="building" closed="yes">
					<class value="default"       textField="addr:housenumber"   textWidth="4" textStyle="fill:maroon;font-family:sans-serif"      zIndex="2900" style="fill:linen;fill-rule:evenodd;stroke:BurlyWood ;stroke-width:1"/>
			</condition>
			<condition tagKey="type" closed="yes">
				<class value="building"     textField="addr:housenumber"     textWidth="4" textStyle="fill:orange;font-family:sans-serif"     zIndex="2900" style="fill:linen;fill-rule:evenodd;stroke:BurlyWood ;stroke-width:1"/>
			</condition>
		</restriction>
	</index>

<index type="way" name="routesIdxHighRes">
		<restriction zLevels="15,16,17,18,19">
			<condition closed="both" tagKey="highway">
				<class value="residential"     zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="8" textStyle="text-anchor:middle;fill:black;font-family:sans-serif" textWidth="8"/>
				<class value="service"         zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="8" textStyle="text-anchor:middle;fill:black;font-family:sans-serif" textWidth="8"/>
				<class value="track"           zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="6" textStyle="text-anchor:middle;fill:black;font-family:sans-serif" textWidth="6"/>
				<class value="unclassified"    zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="8" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="footway"         zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="6" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="path"            zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="8" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="tertiary"        zIndex="2010" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="12" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="12"/>
				<class value="secondary"       zIndex="2020" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="16" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="12"/>
				<class value="crossing"        zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="8" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="primary"         zIndex="2030" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="24" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="12"/>
				<class value="bus_stop"        zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="8" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="turning_circle"  zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="8" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="living_street"   zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="8" textStyle="text-anchor:middle;fill:black;font-family:sans-serif" textWidth="8"/>
				<class value="cycleway"        zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="6" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="6"/>
				<class value="trunk"           zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="8" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="steps"           zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="8" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="motorway"        zIndex="2040" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="10" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="10"/>
				<class value="motorway_link"   zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="8" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="pedestrian"      zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="6" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="6"/>
				<class value="stop"            zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="8" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="trunk_link"      zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="8" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="primary_link"    zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="8" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
			</condition>
		</restriction>
		<restriction zLevels="13,14">
			<condition closed="both" tagKey="highway">
				<class value="residential"     zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="16" textStyle="text-anchor:middle;fill:black;font-family:sans-serif" textWidth="8"/>
				<class value="service"         zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="16" textStyle="text-anchor:middle;fill:black;font-family:sans-serif" textWidth="8"/>
				<class value="track"           zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="16" textStyle="text-anchor:middle;fill:black;font-family:sans-serif" textWidth="6"/>
				<class value="unclassified"    zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="16" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="footway"         zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="12" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="path"            zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="16" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="tertiary"        zIndex="2010" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="24" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="12"/>
				<class value="secondary"       zIndex="2020" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="32" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="12"/>
				<class value="crossing"        zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="16" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="primary"         zIndex="2030" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="48" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="12"/>
				<class value="bus_stop"        zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="16" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="turning_circle"  zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="16" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="living_street"   zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="16" textStyle="text-anchor:middle;fill:black;font-family:sans-serif" textWidth="8"/>
				<class value="cycleway"        zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="16" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="6"/>
				<class value="trunk"           zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="16" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="steps"           zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="16" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="motorway"        zIndex="2040" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="20" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="10"/>
				<class value="motorway_link"   zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="16" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="pedestrian"      zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="12" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="6"/>
				<class value="stop"            zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="16" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="trunk_link"      zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="16" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
				<class value="primary_link"    zIndex="2000" style="fill:none; stroke:lightgrey;stroke-linecap:round;" width="16" textStyle="text-anchor:middle;fill:black;font-family:sans-serif;" textWidth="8"/>
			</condition>
			<condition tagKey="railway" closed="both">
				<class value="rail"      textStyle="fill:darkblue;font-family:sans-serif;" textWidth="6"      zIndex="2100" style="fill:none; stroke:darkgrey;stroke-linecap:round;stroke-width:1" textwidth="8"/>
			</condition>
		</restriction>
	</index>
	<index type="relation" name="routesIdxLowRes">
		<restriction zLevels="10.11.12">
			<condition tagKey="railway" closed="both">
				<class value="default" zIndex="900" style="fill:none; stroke:ligthgray;stroke-linecap:round;stroke-width:1"/>
			</condition>
		</restriction>
		<restriction zLevels="8,9,10,11,12">
			<condition closed="both" tagKey="highway">
				<class value="motorway"         zIndex="2030" style="fill:none; stroke:red;stroke-linecap:round;stroke-width:2" textStyle="fill:black,font-family:sans-serif;opacity:0.5;font-size:16px" textField="ref"/>
				<class value="motorway_link"         zIndex="2030" style="fill:none; stroke:red;stroke-linecap:round;stroke-width:2"  />
				<class value="trunk"         zIndex="2030" style="fill:none; stroke:red;stroke-linecap:round;stroke-width:2"  textStyle="fill:black;font-family:sans-serif;opacity:0.5;font-size:14px" textField="ref"/>
				<class value="trunk_link"         zIndex="2030" style="fill:none; stroke:red;stroke-linecap:round;stroke-width:2" />
				<class value="primary"         zIndex="2030" style="fill:none; stroke:orange;stroke-linecap:round;stroke-width:2"  textStyle="fill:brown;font-family:sans-serif;opacity:0.5;font-size:12px" textField="ref"/>
				<class value="primary_link"         zIndex="2030" style="fill:none; stroke:orange;stroke-linecap:round;stroke-width:2"  />

			</condition>
		</restriction>
		<restriction zLevels="11,12">
			<condition closed="both" tagKey="highway">
				<class value="secondary"         zIndex="2030" style="fill:none; stroke:lightgrey;stroke-linecap:round;stroke-width:2"  textStyle="fill:brown;font-family:sans-serif;opacity:0.5;font-size:10px" textField="ref"/>
			</condition>
		</restriction>
	</index>



</config>
